* {
  margin: 0;
}

img {
  max-width: 100%;
}

:root {
  /* primitive colors */
  --RA-blue25: #ffffff;
  --RA-blue50: #e6e8ef;
  --RA-blue300: #00175c;
  --RA-blue400: #001040;

  --RA-orange50: #FFEEE6;
  --RA-orange300: #ff5000;
  --RA-orange400: #db3600;

  /* sizes */
  --RA-size-1: 1px;
  --RA-size-2: 2px;
  --RA-size-8: 8px;
  --RA-size-4: 4px;
  --RA-size-3: 3px;
  --RA-size-12: 12px;
  --RA-size-16: 16px;
  --RA-size-20: 20px;
  --RA-size-24: 24px;
  --RA-size-32: 32px;
  --RA-size-40: 40px;
  --RA-size-48: 48px;
  --RA-size-56: 56px;
  --RA-size-64: 64px;
  --RA-size-72: 72px;
  --RA-size-80: 80px;
  --RA-size-88: 88px;
  --RA-size-96: 96px;
  --RA-size-104: 104px;
  --RA-size-112: 112px;
  --RA-size-120: 120px;
  --RA-size-128: 128px;
  --RA-size-136: 136px;
  --RA-size-144: 144px;
  --RA-size-152: 152px;

  /* Tokens */
  --RA-padding-desktop: var(--RA-size-56);
  --RA-padding-mobil: var(--RA-size-24);
}

@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Variable.ttf");
}

.max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  color: var(--RA-blue400);
}
.white {
  color: var(--RA-blue25);
}
h1,
h2,
h3 {
  font-family: Switzer;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  color: var(--RA-blue25);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

.titelLight {
  color: var(--RA-blue25);
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.titelDark {
  color: var(--RA-blue400);
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.bodyDark {
  padding-top: var(--RA-size-8);
  color: var(--RA-blue400);
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36rem;
  max-width: 64ch;
}

.bodyDark {
  padding-top: var(--RA-size-8);
  color: var(--RA-blue400);
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36rem;
  max-width: 64ch;
}

.bodyLight {
  padding-top: var(--RA-size-8);
  color: var(--RA-blue25);
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36rem;
}

.smooth-appear {
  animation: smooth-appear 1s ease forwards;
  bottom: -100%;
}

@keyframes smooth-appear {
  0% {
    bottom: -5%;
    opacity: 0;
  }
  50% {
    bottom: -2.5%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.labelName {
  font-family: "Open Sans";
  color: var(--RA-blue400);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.labelDate {
  font-family: "Open Sans";
  color: var(--RA-blue400);
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 8rem;
    line-height: 8.375rem;
  }

  h2 {
    font-size: 4rem;
  }

  .bodyDark {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .bodyLight {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }
}
