---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import SectionCTA from "../components/SectionCTA.astro";
import { Image } from "astro:assets";
import HTImage from "../assets/images/heroTuren.webp";
import Testimonial from "../components/Testimonial.astro";
import ScrollArrow from "../components/ScrollArrow.astro";
import TurenSlider from "../components/TurenSlider.astro";
import Gallary from "../components/Gallery.astro";
---

<BaseLayout>
  <section class="hero-content-section">
    <div class="hero-image">
      <Image src={HTImage} alt="Fluefisker paa Grønland" class="RA-billede" />
    </div>
    <div class="hero-content">
      <h1>Camp Qussuk</h1>
      <p class="titelLight heroTitel">
        Syv dage med eksklusiv overnatning og mad i verdensklasse
      </p>
    </div>
  </section>

  <div class="arrow"><ScrollArrow /></div>
  <div class="emptyContainer"></div>

  <section class="CQ-section">
    <div class="overview">
      <h2>Overblik over din rejse</h2>
      <div class="bodytext">
        <p class="bodyDark">
          Vores camp ligger nord for Nuuk i den smukke fjord Qussuk. En tur
          varer en uge fra mandag til søndag. Vores fluefiske sæson er fra marts
          til slut september.
        </p>
        <div>
          <p class="bodyFat">Inkluderet i din rejse:</p>
          <ul class="bodyDark">
            <li>fly tur/retur</li>
            <li>kost og logi i 7 dage (6 nætter)</li>
            <li>personlige guidede ture til lokale fiskesteder.</li>
          </ul>
        </div>
        <p class="bodyDark">
          Tjek vores kalender for ledige rejsetidspunkter på knappen herunder
          eller scroll ned for at se dagsprogram for rejsen.
        </p>
      </div>
      <div class="overview-button">
        <Button
          class="knap"
          heref="/"
          label="Reservér din rejse"
          style="primary"
        />
      </div>
    </div>
  </section>

  <div class="emptyContainerCQ"></div>
  <TurenSlider />
  <Testimonial />
  <Gallary />
  <SectionCTA class="next-section" />
</BaseLayout>
<style>
  /*--------------------------- Hero Mobile ----------------------------*/
  .hero-image {
    position: absolute;
    width: 100vw;
    filter: brightness(60%);
  }

  .hero-image img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .heroTitel {
    padding-top: var(--RA-size-24);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 350px var(--RA-size-56);
    z-index: 2;
  }
  .hero-content-section {
    position: relative;
    display: flex;
    height: 100vh;
  }

  .emptyContainer {
    height: 50vh;
    background-color: var(--RA-orange50);
  }

  .arrow {
    display: flex;
    justify-content: center;
    transform: translateY(-10%);
    height: 50vh;
  }

  /* ------------------------------------------------------------------- */

  /*------------------------- Camp Qussuk section Mobile ------------------------*/

  .CQ-section {
    display: flex;
    justify-content: center;
    background-color: #ffeee6;
  }

  .overview {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-32);
    padding-left: var(--RA-size-32);
    padding-right: var(--RA-size-32);
    margin-bottom: var(--RA-size-64);
  }

  .bodytext {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-16);
  }
  .bodyFat {
    padding-top: var(--RA-size-8);
    color: var(--RA-blue400);
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.36rem;
  }

  p {
    max-width: 64ch;
  }

  /* --------------------------- Dagsprogram mobile ---------------------------*/

  /*----------------------------------------------------------------------*/
  @media (min-width: 800px) {
    /*--------------------------- Hero ----------------------------*/
    .hero-image {
      position: absolute;
      width: 100vw;
      filter: brightness(60%);
    }

    .hero-image img {
      width: 100%;
      height: 100vh;
      object-position: 80% 100%;
    }
    .heroTitel {
      padding-top: var(--RA-size-24);
    }
    .hero-content {
      display: flex;
      flex-direction: column;
      padding: 350px var(--RA-size-56);
      z-index: 2;
    }
    .hero-content-section {
      position: relative;
      display: flex;
      height: 100vh;
    }
    .arrow {
      transform: translateY(-30%);
    }
    /* ------------------------------------------------------------------- */
    /*------------------------- Camp Qussuk section ------------------------*/

    .CQ-section {
      display: flex;
      justify-content: center;
      background-color: #ffeee6;
    }

    .overview {
      display: flex;
      flex-direction: column;
      gap: var(--RA-size-32);
      margin-bottom: var(--RA-size-48);
    }

    .bodytext {
      display: flex;
      flex-direction: column;
      gap: var(--RA-size-16);
    }
    .bodyFat {
      padding-top: var(--RA-size-8);
      color: var(--RA-blue400);
      font-family: "Open Sans";
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.36rem;
    }

    p {
      max-width: 64ch;
    }

    .overview-button {
      padding-bottom: var(--RA-size-32);
    }
    /* ----------------------------------------------------------------------- */
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // -------------------------------------------------------- Hero --------------------------------------------------------
  gsap.to(".hero-image", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-image",
      start: "top top",
      end: "+=750",
      pin: true,
      // markers: true,
    },
  });
  // -----------------------------------------------------------------------------------------------------------------------------

  // ----------------------------------------------------------------------------------------------------------------
</script>
