---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import billede1 from "../assets/images/IMG_3035.webp";
import billede2 from "../assets/images/IMG_3490.webp";
import billede3 from "../assets/images/IMG_3574.webp";
import webfeatur from "../assets/images/webfeatur.webp";
---

<BaseLayout>
  <!-- Hero -->
  <div class="hero-content-video">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="/video/Kasterbagfra4.mp4" />
    </video>

    <div class="hero-content">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
      <div class="CTAer">
        <Button class="knap" heref="/" label="Læs mere" style="primary" />
        <Button class="knap" heref="/" label="Læs mere" style="secondary" />
      </div>
    </div>
  </div>
  <div class="emptyContainer"></div>
  <!-- ------------------------------- -->

  <!-- Om Raw Arctic -->
  <section class="RA-sekction">
    <h2 class="blue RA-h2">Hvem er RawArctic?</h2>
    <div class="RA-content-button">
      <div class="RA-content">
        <div class="RA-card">
          <Image src={billede1} alt="billede1" class="RA-billede" />
          <div class="RA-text">
            <h3 class="titelDark">Eksklusive faciliteter</h3>
            <p class="body">
              Nyd førsteklasses indkvartering og faciliteter efter en dag med
              spændende fiskeri, hvor komfort og afslapning er i højsædet.
            </p>
          </div>
        </div>
        <div class="RA-card">
          <Image src={billede2} alt="billede2" class="RA-billede" />
          <div class="RA-text">
            <h3 class="titelDark">Grønlandske rødder</h3>
            <p class="body">
              Vi tager dig med til afsidesliggende og eksklusive destinationer i
              Grønland, som kun de lokale guides kender.
            </p>
          </div>
        </div>
        <div class="RA-card">
          <Image src={billede3} alt="billede3" class="RA-billede" />
          <div class="RA-text">
            <h3 class="titelDark">Unikke fiske oplevelser</h3>
            <p class="body">
              Udforsk en verden af spændende fiskeoplevelser, fra kystfiskeri
              efter arktisk char til fluefiskeri efter atlantisk laks i
              maleriske floder.
            </p>
          </div>
        </div>
      </div>
      <div>
        <Button class="knap" heref="/" label="Læs mere" style="secondary" />
      </div>
    </div>
  </section>
  <!-- ----------- -->

  <!-- Om turen -->
  <section class="TUR-section">
    <div class="TUR-content">
      <h2 class="blue">Oplev komfort i vildmarken</h2>
      <p class="body TUR-text">
        Nyd en uforglemmelig uge langs Grønlands elve og overnat under bekvemme
        forhold
      </p>
      <div>
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
    <video autoplay loop muted class="TUR-video">
      <source src="/video/vandfald1.mp4" />
    </video>
  </section>
  <!-- -------------- -->

  <!-- Webfeatur -->
  <section class="WEB-section">
    <Image
      src={webfeatur}
      alt="Her skal der stå en alt tekst"
      class="WEB-billede"
    />
    <div class="WEB-content">
      <h2 class="WEB-h2 white">Med grønlandske guides</h2>
      <p class="body WEB-text">
        Dyk ned i Iviks historie og opdag, hvordan den lokale grønlandske
        befolkning spiller en central rolle i at skabe en uforglemmelig
        fiskeoplevelse med Raw Arctic.
      </p>
      <div>
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-video", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-video",
      start: "top top",
      end: "+=700",
      pin: true,
      // markers: true,
    },
  });
</script>

<style>
  .emptyContainer {
    height: 100vh;
  }

  .WEB-billede,
  .WEB-content {
    grid-area: 1/1;
  }
  .WEB-content {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-16);
    place-self: start center;
    padding-top: var(--RA-size-56);
    max-width: 740px;
  }

  .WEB-billede {
    height: auto;
  }
  .WEB-text {
    color: var(--RA-blue25);
  }
  /* Webfeatur */

  .WEB-section {
    display: grid;
  }

  /* ---------- */

  /* TUR sektion */

  .TUR-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .TUR-video {
    height: auto;
    max-width: 100%;
    display: block;
    max-height: 800px;
  }

  .TUR-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    padding: var(--RA-size-56);
    gap: var(--RA-size-16);
  }

  /* Om RawArctic section */
  .RA-h2 {
    padding-left: var(--RA-size-56);
  }
  .RA-billede {
    padding-bottom: var(--RA-size-32);
    height: auto;
    max-width: 100%;
  }
  .RA-text {
    max-width: 400px;
    padding-top: var(--RA-size-16);
  }
  .RA-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RA-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .RA-content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RA-sekction {
    margin: 130px 0 130px 0;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  /* ------------- */

  /* Hero */

  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heroTitel {
    padding-top: var(--RA-size-24);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--RA-size-56);
    z-index: 2;
  }
  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }
  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
  }
  /* ------------------ */

  @media (max-width: 800px) {
    /* Hero */
    .hero-content {
      display: flex;
      flex-direction: column;
      padding: 250px 0 250px var(--RA-size-24);
      z-index: 2;
    }
    /* ------------ */

    /* Om RawArctic section */
    .RA-content {
      display: grid;
      grid-template-columns: 1fr;
    }
    .RA-billede {
      padding-bottom: var(--size-32);
    }
    .RA-sekction {
      margin: 32px 0 32px 0;
    }
    .RA-text {
      padding: var(--RA-size-24);
    }
    .RA-h2 {
      padding-left: var(--RA-size-24);
    }
    /* ------------- */

    /* Turen  */
    .TUR-section {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
    .TUR-content {
      padding: var(--RA-size-24);
    }
    .TUR-video {
      order: -1;
    }
    /* ------------- */
  }
</style>
