---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import billede1 from "../assets/images/IMG_3035.webp";
import billede2 from "../assets/images/IMG_3490.webp";
import billede3 from "../assets/images/IMG_3574.webp";
---

<BaseLayout>
  <!-- Hero -->
  <!--  <div class="hero-content-video">
    <div class="video-sticky">
      <video autoplay loop muted class="hero-video">
        <source src="/video/kasterBagfra.mov" />
      </video>
    </div>

    <div class="hero-content">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
      <div class="CTAer">
        <Button class="knap" heref="/" label="Læs mere" style="primary" />
        <Button class="knap" heref="/" label="Læs mere" style="secondary" />
      </div>
    </div>
  </div> -->
  <!-- ----------- -->
  <section class="RA-sekction">
    <h2>
      Hvem er RawArctic? <h2>
        <div class="RA-content">
          <div class="RA-card">
            <Image src={billede1} alt="billede1" class="RA-billede" />
            <div class="RA-text">
              <h3 class="titelDark">Eksklusive faciliteter</h3>
              <p class="body">
                Nyd førsteklasses indkvartering og faciliteter efter en dag med
                spændende fiskeri, hvor komfort og afslapning er i højsædet.
              </p>
            </div>
          </div>

          <div class="RA-card">
            <Image src={billede2} alt="billede2" class="RA-billede" />
            <h3 class="titelDark">Grønlandske rødder</h3>
            <p class="body">
              Vi tager dig med til afsidesliggende og eksklusive destinationer i
              Grønland, som kun de lokale guides kender.
            </p>
          </div>
          <div class="RA-card">
            <Image src={billede3} alt="billede3" class="RA-billede" />
            <h3 class="titelDark">Unikke fiske oplevelser</h3>
            <p class="body">
              Udforsk en verden af spændende fiskeoplevelser, fra kystfiskeri
              efter arktisk char til fluefiskeri efter atlantisk laks i
              maleriske floder.
            </p>
          </div>
        </div>
      </h2>

      <script>
        import { gsap } from "gsap/dist/gsap";
        import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
        gsap.registerPlugin(ScrollTrigger);

        gsap.to(".hero-video", {
          duration: 1,
          scrollTrigger: {
            trigger: ".hero-video",
            pin: true,
            markers: true,
          },
        });
      </script>

      <style>
        .RA-content {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }

        .RA-billede {
          height: auto;
          max-width: 100%;
        }
        .RA-sekction {
          height: auto;
          display: flex;
          flex-direction: column;
        }

        /* Hero styling */
        .heroTitel {
          padding-top: var(--size-24);
        }

        .hero-content {
          display: flex;
          flex-direction: column;
          padding: 250px var(--size-56);
          z-index: 2;
        }
        .CTAer {
          display: flex;
          padding-top: var(--size-48);
        }

        .hero-content-video {
          position: relative;
          display: flex;
          height: 100vh;
        }
        .hero-video {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      </style>
    </h2>
  </section>
</BaseLayout>
