---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import gronland from "../assets/images/iconGrønland.svg";
import guides from "../assets/images/iconGuides.svg";
import telt from "../assets/images/iconTelt.svg";
import webfeatur from "../assets/images/overskyetLandskab.webp";
import SectionCTA from "../components/SectionCTA.astro";
import ScrollArrow from "../components/ScrollArrow.astro";
---

<BaseLayout>
  <!-- Hero -->
  <div class="hero-content-video">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="/video/heroVideo.mp4" />
    </video>

    <div class="hero-content">
      <h1>Fluefisk på unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffet fluefiskeri og nærvær i naturen
      </p>
      <div class="CTAer">
        <Button class="knap" heref="/" label="Tag med os" style="primary" />
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
  </div>
  <div class="emptyContainer"><ScrollArrow /></div>
  <!-- ------------------------------- -->

  <!-- Om Raw Arctic -->
  <section class="max-width">
    <div class="RA-sekction">
      <h2 class="blue RA-h2 smooth-appear">Hvem er RawArctic?</h2>
      <div class="RA-content-button">
        <div class="RA-content">
          <div class="RA-card">
            <Image src={gronland} alt="billede1" class="RA-billede" />
            <div class="RA-text">
              <h3 class="titelDark">Lokal og autentisk natur</h3>
            </div>
          </div>
          <div class="RA-card">
            <Image src={guides} alt="billede2" class="RA-billede" />
            <div class="RA-text">
              <h3 class="titelDark">Samarbejde med grønlandske guides</h3>
            </div>
          </div>
          <div class="RA-card">
            <Image src={telt} alt="billede3" class="RA-billede" />
            <div class="RA-text">
              <h3 class="titelDark">Eksklusiv indkvartering og gastronomi</h3>
            </div>
          </div>
        </div>
        <div>
          <Button
            class="knap"
            heref="/"
            label="Læs mere om Arctic Flyfishing"
            style="secondary"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- ----------- -->

  <!-- Om turen -->
  <section class="TUR-section">
    <div class="TUR-content">
      <h2 class="blue">Oplev komfort i vildmarken</h2>
      <p class="bodyDark TUR-text">
        Nyd en uforglemmelig uge langs Grønlands elve og overnat under bekvemme
        forhold
      </p>
      <div>
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
    <video autoplay loop muted class="TUR-video">
      <source src="/video/vandfald1.mp4" />
    </video>
  </section>
  <!-- -------------- -->

  <!-- Webfeatur -->
  <section class="WEB-section">
    <Image
      src={webfeatur}
      alt="Her skal der stå en alt tekst"
      class="WEB-billede"
    />
    <div class="WEB-content">
      <h2 class="WEB-h2 white">Med grønlandske guides</h2>
      <p class="bodyLight WEB-text">
        Dyk ned i Iviks historie og opdag, hvordan den lokale grønlandske
        befolkning spiller en central rolle i at skabe en uforglemmelig
        fiskeoplevelse med Raw Arctic.
      </p>
      <div>
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
  </section>

  <SectionCTA />
</BaseLayout>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-video", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-video",
      start: "top top",
      end: "+=700",
      pin: true,
      // markers: true,
    },
  });
</script>

<style>
  /* Webfeatur */
  .WEB-billede,
  .WEB-content {
    grid-area: 1/1;
  }
  .WEB-content {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-16);
    place-self: start center;
    padding-top: var(--RA-size-56);
    max-width: 740px;
  }

  .WEB-billede {
    height: auto;
  }
  .WEB-text {
    color: var(--RA-blue25);
  }
  .WEB-section {
    display: grid;
  }

  /* ---------- */

  /* TUR sektion */

  .TUR-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .TUR-video {
    height: auto;
    max-width: 100%;
    display: block;
    max-height: 800px;
  }

  .TUR-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    padding: var(--RA-size-56);
    gap: var(--RA-size-16);
  }

  /* Om RawArctic section */
  .RA-h2 {
    padding-left: var(--RA-size-56);
  }
  .RA-billede {
    padding-bottom: var(--RA-size-32);
    height: auto;
    max-width: 100%;
  }
  .RA-text {
    padding-top: var(--RA-size-16);
    max-width: 400px;
    text-align: center;
  }
  .RA-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RA-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .RA-content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--RA-size-32);
  }
  .RA-sekction {
    margin: 130px 0 130px 0;
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-56);
  }
  /* ------------- */

  /* Max-width */

  /* Hero */
  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heroTitel {
    padding-top: var(--RA-size-24);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--RA-size-56);
    z-index: 3;
  }
  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }
  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
    gap: var(--RA-size-24);
  }
  .emptyContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateY(-15%);
  }
  /* ------------------ */

  @media (max-width: 800px) {
    /* Hero */
    .hero-content {
      display: flex;
      flex-direction: column;
      padding: 250px 0 250px var(--RA-size-24);
      z-index: 2;
    }

    .emptyContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
transform: translateY(-5%);
  }
  
  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
    gap: var(--RA-size-8);
  }
    /* ------------ */

    /* Om RawArctic section */
    .RA-content {
      display: grid;
      grid-template-columns: 1fr;
    }
    .RA-billede {
      padding-bottom: var(--size-32);
    }
    .RA-sekction {
      margin: 32px 0 32px 0;
    }
    .RA-text {
      padding: var(--RA-size-24);
    }
    .RA-h2 {
      padding-left: var(--RA-size-24);
    }
    /* ------------- */

    /* Turen  */
    .TUR-section {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
    .TUR-content {
      padding: var(--RA-size-24);
    }
    .TUR-video {
      order: -1;
    }
    /* ------------- */
    .WEB-billede {
      aspect-ratio: 4/5;
      object-fit: cover;
    }

    .WEB-content {
      padding: var(--RA-size-56) var(--RA-size-24);
    }

    @media (max-width: 400px) {
      .WEB-billede {
        aspect-ratio: 9/16;
      }
    }
  }
</style>
