---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import billede1 from "../assets/images/IMG_3035.webp";
import billede2 from "../assets/images/IMG_3490.webp";
import billede3 from "../assets/images/IMG_3574.webp";
---

<BaseLayout>
  <!-- Hero -->

  <div class="hero-content-video">
    <video autoplay loop muted class="hero-video">
      <source src="/video/Kasterbagfra4.mp4" />
    </video>

    <div class="hero-content">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
      <div class="CTAer">
        <Button class="knap" heref="/" label="Læs mere" style="primary" />
        <Button class="knap" heref="/" label="Læs mere" style="secondary" />
      </div>
    </div>
  </div>

  <div class="emptyContainer"></div>

  <section class="RA-sekction">
    <h2 class="blue spacing">Hvem er RawArctic?</h2>
    <div class="RA-content">
      <div class="RA-card">
        <Image src={billede1} alt="billede1" class="RA-billede" />
        <div class="RA-text">
          <h3 class="titelDark">Eksklusive faciliteter</h3>
          <p class="body">
            Nyd førsteklasses indkvartering og faciliteter efter en dag med
            spændende fiskeri, hvor komfort og afslapning er i højsædet.
          </p>
        </div>
      </div>
      <div class="RA-card">
        <Image src={billede2} alt="billede2" class="RA-billede" />
        <div class="RA-text">
          <h3 class="titelDark">Grønlandske rødder</h3>
          <p class="body">
            Vi tager dig med til afsidesliggende og eksklusive destinationer i
            Grønland, som kun de lokale guides kender.
          </p>
        </div>
      </div>
      <div class="RA-card">
        <Image src={billede3} alt="billede3" class="RA-billede" />
        <div class="RA-text">
          <h3 class="titelDark">Unikke fiske oplevelser</h3>
          <p class="body">
            Udforsk en verden af spændende fiskeoplevelser, fra kystfiskeri
            efter arktisk char til fluefiskeri efter atlantisk laks i maleriske
            floder.
          </p>
        </div>
      </div>
    </div>
    <div>
      <Button class="knap" heref="/" label="Læs mere" style="secondary" />
    </div>
  </section>

  <section class="TUR-section">
    <div class="TUR-content">
      <h2 class="blue">Oplev komfort i vildmarken</h2>
      <p class="body">
        Nyd en uforglemmelig uge langs Grønlands elve og overnat under bekvemme
        forhold
      </p>
      <div>
        <Button
          class="knap"
          heref="/"
          label="Læs mere om turen"
          style="secondary"
        />
      </div>
    </div>
    <video autoplay loop muted class="TUR-video">
      <source src="/video/vandfald1.mp4" />
    </video>
  </section>
</BaseLayout>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-video", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-video",
      start: "top top",
      end: "+=700",
      pin: true,
      // markers: true,
    },
  });
</script>

<style>
  .spacing {
    padding-left: var(--RA-size-56);
  }
  .blue {
    color: var(--RA-blue400);
  }
  .emptyContainer {
    height: 100vh;
  }

  /* TUR sektion */
  .TUR-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
  }
  .TUR-video {
  height: auto;
    max-width: 100%;
    display: block;
     max-height: 800px; 
  }

  .TUR-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--RA-size-56);
  }

  /* RawArctic section */
  .RA-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RA-text {
    max-width: 400px;
  }
  .RA-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .RA-billede {
    padding-bottom: var(--size-32);
    height: auto;
    max-width: 100%;
  }
  .RA-sekction {
    margin: 130px 0 130px 0;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  /* ------------- */

  /* Hero styling */
  .heroTitel {
    padding-top: var(--RA-size-24);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--RA-size-56);
    z-index: 2;
  }
  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
  }

  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }
  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* ------------------ */
  @media (max-width: 800px) {
    .RA-content {
      display: grid;
      grid-template-columns: 1fr;
    }

    .RA-billede {
    padding-bottom: var(--size-32);

  }

    .TUR-section {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    align-items: center;
  }
  .TUR-video {
order: -1;
  }

  }
</style>
