---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Hero -->
  <div class="hero-content-video">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="/video/Kasterbagfra4.mp4" />
    </video>

    <div class="hero-content">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
    </div>
  </div>
  <div class="emptyContainer"></div>
  <!-- ------------------------------- -->
</BaseLayout>
<style>
  /* Hero */
  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heroTitel {
    padding-top: var(--RA-size-24);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--RA-size-56);
    z-index: 2;
  }
  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }
  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
  }
  /* ------------------ */

  @media (max-width: 800px) {
    /* Hero */
    .hero-content {
      display: flex;
      flex-direction: column;
      padding: 250px 0 250px var(--RA-size-24);
      z-index: 2;
    }
    /* ------------ */
  }
</style>
