---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
---

<BaseLayout>
  <div class="hero-content-video">
    <div class="video-sticky">
      <video autoplay loop muted class="hero-video">
        <source src="/video/kasterBagfra.mov" />
      </video>
    </div>

    <div class="hero-content">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titel heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
      <div class="CTAer">
        <Button class="knap" heref="/" label="Læs mere" style="primary" />
        <Button class="knap" heref="/" label="Læs mere" style="secondary" />
      </div>
    </div>
  </div>

  <!--     <section class="content-section">
      <h1>Overskrift</h1>
      <h2>Underoverskrift</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque in
        libero pulvinar ultricies. Donec eu lacus massa. Sed lacinia risus eget
        mauris dignissim, vitae malesuada justo hendrerit. Nam ut justo nec nisi
        consectetur convallis. Integer tempus lacus ut nisl viverra, quis
        efficitur eros semper. Vivamus lacinia consectetur massa, ac tristique
        purus sodales nec. Vestibulum euismod massa in dui dictum tempus.
      </p>
    </section>
  
    <section class="content-section">
      <h1>Overskrift</h1>
      <h2>Underoverskrift</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque in
        libero pulvinar ultricies. Donec eu lacus massa. Sed lacinia risus eget
        mauris dignissim, vitae malesuada justo hendrerit. Nam ut justo nec nisi
        consectetur convallis. Integer tempus lacus ut nisl viverra, quis
        efficitur eros semper. Vivamus lacinia consectetur massa, ac tristique
        purus sodales nec. Vestibulum euismod massa in dui dictum tempus.
      </p>
    </section>
  
    <section class="content-section">
      <h1>Overskrift</h1>
      <h2>Underoverskrift</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque in
        libero pulvinar ultricies. Donec eu lacus massa. Sed lacinia risus eget
        mauris dignissim, vitae malesuada justo hendrerit. Nam ut justo nec nisi
        consectetur convallis. Integer tempus lacus ut nisl viverra, quis
        efficitur eros semper. Vivamus lacinia consectetur massa, ac tristique
        purus sodales nec. Vestibulum euismod massa in dui dictum tempus.
      </p>
    </section> -->
</BaseLayout>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-video", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-video",
      pin: true,
      markers: true,
    },
  });

  /*   ScrollTrigger.create({
    trigger: ".hero-content-video",
    start: "top top",
    endTrigger: ".section2",
    end: "bottom top",
    pin: true,
    pinSpacing: false,
    onLeave: () => {
      gsap.to(window, { scrollTo: ".section2", duration: 1 });
    },
  }); */
</script>

<style>
  .heroTitel {
    padding-top: var(--size-24);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--size-56);
    z-index: 2;
  }
  .CTAer {
    display: flex;
    padding-top: var(--size-48);
  }

  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }
  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
