---
import Button from "./Button.astro"
---


<footer>
    <div class="buttons">
        <Button class="knap" heref="/" label="Hjem" style="tertiary" />
        <Button class="knap" heref="/" label="Om Raw Arctic" style="tertiary" />
        <Button class="knap" heref="/" label="Læsre mere om turen" style="tertiary" />
        <Button class="knap" heref="/" label="Med grønlandske rødder" style="tertiary" />
    </div>
<p class="bodyLight">© Copyright 2024 - Amanda og Amanda</p>

</footer>

<style>

.buttons{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
}

footer{
    background-color: var(--RA-blue400);
    display: flex;
    flex-direction: column;
}

p{
color: var(--RA-blue25);
}

</style>