---
import Button from "../components/Button.astro";
import Input from "./Input.astro";
---

<section>
  <div class="grid-12">
    <div class="newsletter">
      <h3>Tilmeld dig og hold dig opdateret</h3>

      <div class="inputField-conatiner">
        <Input
          label="Navn"
          type="text"
          autocomplete="given-name"
          placeholder="Anne Jensen"
        />
        <Input
          label="E-mail"
          type="email"
          autocomplete="email"
          placeholder="Anne@mail.com"
        />
        <div>
          <Button class="knap" heref="/" label="Læs mere" style="secondary" />
        </div>
      </div>
    </div>

    <a href="https://www.eksempel.com" id="orange">
      <div class="div1">
        <p class="body38">Tag det første skridt</p>
        <div>&#8594;</div>
      </div>
      <div class="div2">
        <p>Tag med os</p>
        <div>
          <Button class="knap" href="/" label="Læs mere" style="primary" />
        </div>
      </div>
    </a>
  </div>
</section>

<style>
  .newsletter {
    grid-row-start: span 1;
    grid-column-start: span 4;
    grid-row-end: span 1;
  }
  .grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    position: relative;
    grid-auto-columns: 1fr;
  }
  #orange {
  }
  .body38 {
    color: var(--RA-blue25);
    font-family: Switzer;
    font-size: 2.375rem;
    font-weight: 500;
    line-height: 1.36rem;
  }

  .orange-content-buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .orangeSektionFont {
    font-family: Switzer;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    color: var(--RA-blue25);
    text-decoration: none;
  }
  .orange-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  section {
    padding: 150px 0;
    width: 100%;
  }

  .inputField-conatiner {
    display: flex;
    padding: var(--RA-size-40) var(--RA-size-24);
    flex-direction: column;
    gap: 32px;
    border-radius: 20px;
    background: rgba(43, 62, 120, 0.2);
    backdrop-filter: blur(20px);
  }

  /*   .orange-content {
    background-color: var(--RA-orange300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    padding: var(--RA-size-64) var(--RA-size-12);
  } */
</style>
